derivatives/fmriprep/
derivatives/GroupParcelProbability/
derivatives/GroupRandomEffects/
derivatives/NilearnGLMRunwise/
derivatives/RunwiseResponse/
derivatives/stimuli/
derivatives/fsaverage/
sourcedata/
tmp_dcm2bids/
sub*/
*out
*/*out
stimuli/
*/*.mp4
.vscode/
participants.tsv
participants.json
notebooks/
**/__pycache__/
__pycache__/