{
  "descriptions": [
    {
      "datatype": "anat",
      "suffix": "T1w",
      "criteria": {
        "SeriesDescription": "*t1_mprage_sag_1mm*",
        "ImageType": ["ORIGINAL", "PRIMARY", "M", "ND", "NORM", "MAGNITUDE"]
      }
    },
    {
      "datatype": "func",
      "suffix": "bold",
      "custom_entities": "task-communicate",
      "criteria": {
        "SeriesDescription": "*com_main_*"
      }
    },
    {
      "datatype": "func",
      "suffix": "bold",
      "custom_entities": "task-pointlight",
      "criteria": {
        "SeriesDescription": "*pointlight_*"
      }
    },
    {
      "datatype": "func",
      "suffix": "bold",
      "custom_entities": "task-eploc",
      "criteria": {
        "SeriesDescription": "*eploc_*"
      }
    }
    ,
    {
      "datatype": "func",
      "suffix": "bold",
      "custom_entities": "task-tom",
      "criteria": {
        "SeriesDescription": "*tom_*"
      }
    }
  ]
}
